<div class="space">
    <h1 class="center">Grocery Store</h1>
</div>
<div class="adding center">
    <input type="text" 
    name="groceryValue"
    [(ngModel)]="groceryValue"
    placeholder="Product Name"/>
  
    <input type="text" 
    placeholder="Units" 
    [(ngModel)] = "unitValue"/>
    
    <input type="text" 
    placeholder="Price per unit"
    [(ngModel)] = "pricePerUnitValue">
</div><br>
<div class="center">
    <button name="btn" class="btn" id="btn" (click) = "addItem()">Add Item</button>
</div><br> 
<div class="tableBody">
      <table class="table">
          <tr>
            <th><h4>Grocery</h4></th>
            <th><h4>Unit</h4></th>
            <th><h4>Per Unit</h4></th>
            <th><h4>Total</h4></th>
            <th><h4>Edit</h4></th>
            <th><h4>Delete</h4></th>
          </tr>
          <tr *ngFor = "let item of list">
            <td><h4>{{ item.grocery }}</h4></td>
            <td><h4>{{ item.unit }}</h4></td>
            <td><h4>{{ item.price }}</h4></td>
            <td><h4>{{ item.total }}</h4></td>
            <td><button class="btn" id="editbtn" (click) = "editItem($event,item.id)">Edit</button></td>
            <td><button class="btnd" (click) = "deleteItem(item.id)">Delete</button></td>
          </tr> 
      </table>
</div> 
<div class="grandTotal center">
    <h4>Grand Total : {{ grandTotal }}</h4>
</div>
